// FONTS
$font: 'Montserrat', sans-serif;

// COLORS
$white: #ffffff;
$white_a: #F3F3F3;

$black: #000000;
$black_a: #0B0C10;

$gray: #D9D9D9;
$gray_a: #BDBDBE;
$gray_b: #A6A6A7;
$gray_c:#676766;

$red: #DA291C;

$blue: #58C7DF;
$blue_a: #95BEC0;

$green: #0FA01D;